* {
    box-sizing: border-box;
}
input[type=text], input[type=email], input[type=password], input[type=range], select, textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit] {
    background-color: tomato;
    color: white;
    border: none;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 30%;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(255, 99, 71, 0.8);
}

textarea {
    height: 100px;
}

label {
    /*padding: 2px;*/
    display: inline-block;
}

.row{
    padding-top: 50px;
}
.item1{
    float: left;
	width: 30%;
    margin-top: 5px;
}

.item2{
    float: left;
    width: 70%;
    margin-top: 5px;
}

/*#map{
	grid-area: 1 / 3 / span 6 / span 1;
}*/

#profile {
    width: 150px;
    height: 200px;
    border-radius: 100%;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}