h3 {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
}

figcaption {
    display: inline-block;
}


div > img{
    display: inline-block;
    margin: 1.5% 1.5%;
    width: 30%;

}

.row{
    display: inline-block;
    
}

#image-grid {
    border-top: solid 2px lightcoral;
    padding: 10px 10px;
    text-align: center;
    
}
