
.grid-container{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px 10px;
	padding: 10px;
}

.item{
	text-align: left;
}

.section {
	margin-top: 8px;
	border-top: solid 2px white;
}
#tHeader{
	font-weight: bold;
	font-size: 1.2em;
}
#profile {
    width: 150px;
    height: 200px;
    border-radius: 100%;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}